@font-face {
  font-family: 'Lacquer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lacquer Regular'), local('Lacquer-Regular'), url(https://fonts.gstatic.com/s/lacquer/v1/EYqzma1QwqpG4_BBN7iKWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}


/*variables*/
:root{
--default-gray-blue: #13192d;
--light-gray-blue: #949bb8;
}

html {
  overflow-y: hidden; 
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background: #f4f4f4;
  max-width: 100%;
  overflow-x: hidden;
}
label,
h2 {
  font-family: 'Lacquer', sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 24px;
	
}
select {
	    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  padding: 0 16px;
  background: #fff;
  height: 50px;
  width: 150px;
	border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    border-radius: 10px;
    outline: none;
	transition: all 200ms;
cursor: pointer;
background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:active, select:focus {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	transition: all 200ms;

}

textarea {
  width: 100%;
  height: 80px;
  padding: 16px;
  resize: none;
  box-sizing: border-box;
  border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    border-radius: 10px;
	outline: none;
	transition: all 200ms;

}
textarea:active, textarea:focus {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	transition: all 200ms;
}
input[type=button] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 0 8px;
  background-color: rgba(2,0,97,1);
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;

}
input[type=button]:hover {
  background-color: #000;
}
input[type=button]:active {
  transform: translatey(1px);
  outline: none;
}
input[type=button]:focus {
  outline: none;
}
header {
  background: url("img/steve-austin.gif"), linear-gradient( 181deg,  rgba(2,0,97,1) 15%, rgba(97,149,219,1) 158.5% );
	background-size: contain;
	background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  border-radius: 30px;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lacquer', sans-serif;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
	top: 50px;
  transition: all 2s;
  position: relative;
}
header h1 {
  text-align: right;
  font-size: 60px;
  max-width: 500px;
  line-height: 80px;
  margin-right: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.badge {
    position: absolute;
    width: 25%;
    height: 25%;
    top: -18px;
    right: -69px;
    transform: rotate(25deg);
}
main {
  display: flex;
  padding: 60px 0 30px; 
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  position: relative;
    overflow: hidden;
}
#wrestler-amount,
#wrestler-assignment {
  text-align: center;
}
#in-the-ring {
  position: fixed;
  background: #fff;
  width: calc(100vw - 60px);
  max-width: 100%;
  text-align: left;
  padding: 15px 30px;
  top: 0;
  z-index: 9998;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-transform: capitalize;

}
#in-the-ring span {
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  background: green;
  border-radius: 10px;
  margin: 0 5px 5px 0;
}
#in-the-ring span:first-of-type {
  font-size: 12px;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  border-right: none;
  padding: 0;
  letter-spacing: 1px;
  color: navy;
}
#in-the-ring span:last-of-type {
  margin-right: 0;
}
.pill {
  cursor: pointer;

}
#next-wrestler {
  align-self: center;
  position: relative;
  z-index: 9998;
  padding: 3px 15px;
  margin: 0 5px 10px 0;
  color: #000;
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;

}
#next-wrestler:active {
  box-shadow: none;
  outline: none;
}
#next-wrestler:focus {
  outline: none;
}
#next-wrestler:hover {
  background-color: cornflowerblue;
}

#show-year {
	  position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
	  transition: all 1s;
}

#player-amount, #wrestler-amount, #wrestler-assignment {
	margin-top: 30px;
}

#button-frame { 
    text-align: center;
    width: 100%;
}

.show {
  opacity: 1;
  z-index: 9997;
  transition: all 1s;
  transition-delay: 900ms;
  position: relative;
  text-align: center;
}

.hidden {
  opacity: 0;
  z-index: 0!important;
  transition: all 1s;
  position: fixed;	 
}

#year {
width: 200px;
cursor: pointer;
}



.wrestler-card {
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin: 8px;
  width: 180px;
}
.wrestler-card p {
  margin: 0;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  color: #000;
}

.wrestler-card p.playing {
    color: var(--light-gray-blue);
}

.active {
    background: #01794d;
}
.active p {
  color: #fff!important;
  font-weight: 900;
  transition: all 1s;
}

.dead p {
  border: none;
  transition: all 1s;
  text-decoration: line-through;
  color: #aa2e2e!important;
}
.slideUp {
  position: relative;
  transition: all 2s;
  margin-top: -370px;
}

body.playing {
    background: var(--default-gray-blue);
    overflow: hidden;
}
.playing .player-grid .extra-wrestlers{
    display: none;
}

.playing .player-grid .addExtra {
    display: none; 
}

.player-grid {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.player-section {
  margin: 0px 10px 20px;
  padding: 0 5px 20px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  align-self: start;
}

.player-section h2{
    border-bottom: 1px solid black;
    padding: 5px 0;
    margin: 0;
}

.list-of-wrestlers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5px;
    
}

#get-ready {
    width: 100%;
    text-align: center;
    top: 10px;
}

#get-ready #start {
    max-width: 300px;
    margin: 0px 10px 20px 0;
    background: mediumspringgreen;
}

#get-ready #start:hover {
  background-color: #7be9b2;
}

#get-ready #get-wrestlers {
    max-width: 260px;
    margin-bottom: 20px;
}

#get-ready #get-wrestlers:hover {
    background-color: cornflowerblue;
}

#get-ready .player-grid {
    text-align: center;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center; 
    overflow: scroll;
}

#top {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background: var(--default-gray-blue);
    max-height: 80vh;
    overflow: hidden;
}

video {
    width: 100%;
    margin-top: -10px;
    max-height: 80vh;
    background-image: url(./img/bg/royalrumble.png);
}
 
#bottom {
    display: flex;
    flex-direction: column;
    background: var(--default-gray-blue);
    max-height: 20vh;
    overflow: scroll;
    border-top: 4px solid var(--light-gray-blue);
}

 
#bottom .player-grid {
    text-align: left;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 10px;
}

#bottom .player-section {
    display: flex;
    background: none;
    box-shadow: none;
    border-bottom: 1px solid var(--light-gray-blue);
    padding: 0 0 5px 0;
}

#bottom .list-of-wrestlers {
    display: flex;
    align-items: center;    
}

#bottom .wrestler-card {
    width: auto;
    text-align: left;
    margin: 0 0 0 5px;
}

#bottom .player-section h2 {
    border-bottom: none;
    font-size: 20px;
    color: #fff;
}


#notification-container {
    overflow: scroll; 
    padding: 10px 5px 5px 5px;
    max-height: 80vh;
    background: var(--default-gray-blue);
}

.notification {
    padding: 8px; 
    margin-bottom: 5px;
    background: #01794d;
    color: #fff;
   transform: translateX(100%);
   transition: transform 1s;
}

.notification.red {
    background: #aa2e2e;
}

.notification h3 {
        text-align: left;
        display: block;
        font-size: 16px;
        margin: 0 0 5px 0;
    }

.notification h3 span {
    font-family: 'Lacquer', sans-serif;
    font-size: 18px;
}

.reveal {
  transform: translateX(0);
  z-index: 9999;
  transition: all 1s;
  text-align: center;
}

.slide-out {
	transition: all 700ms;
    transform: translateX(110%);
}

.hide {
  z-index: 0;
 display: none;
}



.addExtra, #get-wrestlers, #start {
    width: calc(100% - 40px);
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    background: lightBlue;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
		cursor: pointer;
}




@media screen and (max-width: 768px) {
  main {
    width: 95%;
    margin-left: 2.5%;
  }
	header {
		width: 95%;
		background-size: 60%, cover;
	}
	header h1 {
		font-size: 45px;
		margin-right: 30px;
		max-width: 250px;
		line-height: 65px;
	}
  .player-grid {
    display: block;
  }
  .player-grid * {
    width: 100%;
    margin-left: 0;
  }
}