@font-face {
  font-family: 'Lacquer';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lacquer Regular'), local('Lacquer-Regular'), url(https://fonts.gstatic.com/s/lacquer/v1/EYqzma1QwqpG4_BBN7iKWg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD-w.ttf) format('truetype');
}
html {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  background: #f4f4f4;
  max-width: 100%;
  overflow-x: hidden;
}
label,
h2 {
  font-family: 'Lacquer', sans-serif;
  font-size: 30px;
  text-align: center;
  display: block;
  margin-bottom: 24px;
	
}
select {
	    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  padding: 0 16px;
  background: #fff;
  height: 50px;
  width: 150px;
	border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    border-radius: 10px;
    outline: none;
	transition: all 200ms;
cursor: pointer;
background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:active, select:focus {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	transition: all 200ms;

}

textarea {
  width: 100%;
  height: 80px;
  padding: 16px;
  resize: none;
  box-sizing: border-box;
  border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,.2);
    border-radius: 10px;
	outline: none;
	transition: all 200ms;

}
textarea:active, textarea:focus {
    box-shadow: 1px 1px 2px rgba(0,0,0,.2);
	transition: all 200ms;
}
input[type=button] {
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px 0 8px;
  background-color: rgba(2,0,97,1);
  color: #fff;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;

}
input[type=button]:hover {
  background-color: #000;
}
input[type=button]:active {
  transform: translatey(1px);
  outline: none;
}
input[type=button]:focus {
  outline: none;
}
header {
  background: url("img/steve-austin.gif"), linear-gradient( 181deg,  rgba(2,0,97,1) 15%, rgba(97,149,219,1) 158.5% );
	background-size: contain;
	background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px;
  border-radius: 30px;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Lacquer', sans-serif;
  color: #fff;
  max-width: 800px;
  margin: 0 auto;
	top: 50px;
  transition: all 2s;
  position: relative;
}
header h1 {
  text-align: right;
  font-size: 60px;
  max-width: 500px;
  line-height: 80px;
  margin-right: 40px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
main {
  display: flex;
  padding: 60px 0 30px;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  position: relative;

}
#wrestler-amount,
#wrestler-assignment {
  text-align: center;
}
#in-the-ring {
  position: fixed;
  background: #fff;
  width: calc(100vw - 60px);
  max-width: 100%;
  text-align: left;
  padding: 15px 30px;
  top: 0;
  z-index: 9998;
  box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.6);
  font-size: 14px;
  text-transform: capitalize;

}
#in-the-ring span {
  display: inline-block;
  padding: 3px 15px;
  color: #fff;
  background: green;
  border-radius: 10px;
  margin: 0 5px 5px 0;
}
#in-the-ring span:first-of-type {
  font-size: 12px;
  background: none;
  text-transform: uppercase;
  font-weight: 600;
  border-right: none;
  padding: 0;
  letter-spacing: 1px;
  color: navy;
}
#in-the-ring span:last-of-type {
  margin-right: 0;
}
.pill {
  cursor: pointer;

}
#next-wrestler {
  display: inlnie;
  position: relative;
  z-index: 9998;
  padding: 3px 15px;
  margin: 0 5px 0 0;
  color: #000;
  background: lightblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;

}
#next-wrestler:active {
  box-shadow: none;
  outline: none;
}
#next-wrestler:focus {
  outline: none;
}
#next-wrestler:hover {
  background: #f4f4f4;
}

#show-year {
	  position: absolute;
    top: 50px;
    text-align: center;
    width: 100%;
	  transition: all 1s;
}

#player-amount, #wrestler-amount, #wrestler-assignment {
	margin-top: 30px;
}

.show {
  opacity: 1;
  z-index: 9997;
  transition: all 1s;
  transition-delay: 900ms;
  position: relative;
  text-align: center;
}

.hidden {
  opacity: 0;
  z-index: 0;
  transition: all 1s;
  position: fixed;	
}

#year {
	width: 200px;
cursor: pointer;
}



.wrestler-card {
  display: inline-block;
  text-align: center;
  justify-content: center;
  margin: 8px;
  width: 180px;
}
.wrestler-card p {
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  border: 1px solid #707070;
  text-transform: capitalize;
}
.inactive button {
  transition: all 1s;
  color: #fff;
  background: #707070;
  width: 100%;
  padding: 10px 24px 8px;
  display: inline-block;
  border: none;
  margin: 0;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
cursor: pointer;
}
.inactive button:before {
  content: "inactive";
}
.active button {
  background: green;
  transition: all 1s;
cursor: pointer;
}
.active button:before {
  content: "rumblin'";
}
.dead {
  cursor: pointer;
}
.dead button {
  cursor: pointer;
  background: red;
  transition: all 1s;
  text-decoration: line-through;
cursor: pointer;
}
.dead button:before {
  content: "dead";
}
.dead p {
  background: red;
  border: none;
  transition: all 1s;
  text-decoration: line-through;
cursor: pointer;
}
.slideUp {
  position: relative;
  transition: all 2s;
  margin-top: -330px;
}
.player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding: 80px 20px;
}
.player-section {
  margin: 0px 10px 20px;
  padding: 0 5px 20px;
  background: #fff;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
}

.fullscreen {
  top: 0;
  padding: 50px;
  display: flex;
flex-direction: column;
    z-index: 9999;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  background: #222;
  color: #fff;
  font-size: 30px;

}

.fullscreen.red {
    background: red;
}

.fullscreen h2 {
        text-align: center;
        display: block;
        margin: 0;
        font-size: 80px;
    }

.fullscreen h3 {
        text-align: center;
        display: block;
        font-size: 20px;
        margin: 20px 0 0 0;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

.reveal {
  opacity: 1;
  z-index: 9999;
  transition: all 1s;
  position: fixed;
  text-align: center;
}

.fade {
	opacity: 0;
	transition: all 700ms;
	position: fixed;
}

.hide {
  opacity: 0;
  z-index: 0;
  transition: all 1s;
  position: absolute;
}



.userName {
    text-transform: capitalize;
    display: block;
    margin: 100px 0 0 0 ;
    text-align: center;
}

.userName span {
        font-family: 'Lacquer', sans-serif;
        font-size: 40px;
}

.addExtra {
    width: calc(100% - 40px);
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    border: none;
    background: lightBlue;
    padding: 10px 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
		cursor: pointer;
}




@media screen and (max-width: 768px) {
  main {
    width: 95%;
    margin-left: 2.5%;
  }
	header {
		width: 95%;
		background-size: 60%, cover;
	}
	header h1 {
		font-size: 45px;
		margin-right: 30px;
		max-width: 250px;
		line-height: 65px;
	}
  .player-grid {
    display: block;
  }
  .player-grid * {
    width: 100%;
    margin-left: 0;
  }
}